# Vercel - nastav v Project Settings > Environment Variables
# Produkční/Preview DB připojení
DATABASE_URL=

# Sentry sourcemaps upload during `next build`
SENTRY_AUTH_TOKEN=
SENTRY_ORG=pavhan
SENTRY_PROJECT=javascript-nextjs

# Alternativně (pokud používáš Vercel Postgres integraci)
POSTGRES_URL=

# Volitelné: direct URL pro migrace/seed mimo pooled připojení
POSTGRES_URL_NON_POOLING=
